// Pages Calendar Theme  
// --------------------------------------------------
// Copyright Reserved Revox - 2014
// --------------------------------------------------

// Import Vars
@import "var.less";

//Theme Overwrite

.icon-thumbnail{
	background-color: transparent;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail{
	background: transparent;
}